<section id="profiel-section" class="profiel_default_tmp" style="background: #f9f9f9;">
  <div class="container" style="padding: 7vh;">
    <div class="row content">
      <div class="col-md-4">
              <div class="text-center font">
                    <div class="avatar"><img src="[@avatarUrl]" class="img-responsive img-circle" />
                    </div>
                    <h1>[@voornaam] [@achternaam]</h1>
                    <p>Pixel Crafter</p>
              </div>
      </div>
      <div class="col-md-8 text-center">
              <div class="font">
                  <div>
                    <h1>About me</h1>
                    <hr>
                    <p class="subtitle">[@profiel_aboutMe]</p>
                  </div>
              </div>
              <hr>
              <div class="row font">
                  <div class="col-xs-3"><div>1</div></div>
                  <div class="col-xs-3"><div>2</div></div>
                  <div class="col-xs-3"><div>3</div></div>
                  <div class="col-xs-3"><div>4</div></div>
              </div>
      </div>
    </div>

   </div>
</section>

