<section id="skill-section" class="skill_light_tmp" style="background-color: #262626">
  <div class="container" style="padding-top: 30px; padding-bottom: 30px;">
  <div class="row">
      <div class="col-md-12 text-center">
        <h1>Skills</h1>
        <hr>
      </div>
    <div class="row">
      <div class="col-md-1">

      </div>
      <div class="col-md-10 text-center">
      <div class="skill-box">
      <h3>Design</h3>
      <div class="skills-circle">
        <ul>
          <li data-percent="32"><span class="text">Power</span><span class="bar-circle-right"></span><span class="bar-circle-left"></span><span class="bar-circle-cover"></span><b></b></li>
          <li data-percent="57"><span class="text">Power</span><span class="bar-circle-right"></span><span class="bar-circle-left"></span><span class="bar-circle-cover"></span><b></b></li>
          <li data-percent="85"><span class="text">Power</span><span class="bar-circle-right"></span><span class="bar-circle-left"></span><span class="bar-circle-cover"></span><b></b></li>
        </ul>
      </div>
      </div>
      </div>
      <div class="col-md-1">

      </div>
    </div>
  </div>
</section>

